:root{
  --main_color: rgba(127, 255, 212, 0.568);
  --sub_color: rgba(0, 0, 255, 0.82);
}
header  {
    display: flex;
    align-items: flex-end;
    padding: 1%;
    border-color: darkgrey;
    color: var(--main_color);
    flex-wrap: wrap;
    font-family: serif;
  }
  .subheading{
    display: flex;
    justify-content: flex-end;
    padding: 70px;
    border: 3px solid black;
    color: var(--sub_color);
  }
  .subheading{
    margin-right: 12px;
  }
  .developer-name{
    margin: 23px;
    border: 3px solid black;
  }
img{
    display: flex;
    align-items: flex-start;
}
nav{
    position: absolute;
    right:0;
    margin: 22px;
}
nav li{
    display: contents;
    font-size: 12px;
    flex-wrap: wrap;
}
nav a {
    color:rgba(127, 255, 212, 0.568);
    font-weight: bold;
    
  }
  
  nav a:hover {
    color: yellow;
  }
  p, li{
    margin-inline: 147px;
    text-align: left;
  }
.personal-information {
    border: 2em;
    padding: 2em;
    color: var(--sub_color);
    
}
.work-information a:hover{
    color: yellow;
    box-shadow: 12px;
}
.work-information{
    border: 3px solid black;
    padding: 2em;
    color: var(--sub_color);
    border: 3px solid black;
}
.contact-information{
  display: inline;
    border: 2em;
    padding: 2em;
    color: var(--sub_color);
}
@media screen and (max-width:768px) {
    body{
    background-color: gray;
    flex-direction: column;
    }
    
}
  