
header  {
    display: flex;
    align-items: flex-end;
    padding: 1%;
    background-color:black;
    color: rgba(127, 255, 212, 0.568);
    flex-wrap: wrap;
    border: solid red;
  }
  div{
    display: flex;
    justify-content: flex-end;
    padding: 70px;
    border: solid red;
  }
  .developer-name{
    margin: 23px;
  }
img{
    display: flex;
    align-items: flex-start;
}
nav{
    position: absolute;
    right:0;
    margin: 22px;
}
nav li{
    display: contents;
    font-size: 12px;
    flex-wrap: wrap;
}
nav a {
    color:rgba(127, 255, 212, 0.568);
    font-weight: bold;
    
  }
  
  nav a:hover {
    color: yellow;
  }
  .aside, h2{
    margin-right: auto;

  }
  p, li{
    margin-inline: 147px;
    text-align: left;
  }
.personal-information {
    border: 2em;
    padding: 2em;
    color:rgb(0, 0, 139);
    border: solid red;
}
.work-information:hover{
    color: grey;
    box-shadow: 12px;
    border: solid red;
}
.work-information{
    border:2em;
    padding: 2em;
    color: darkblue;
    border: solid red;
}
.contact-information{
    border-box: 200px;
    padding: 2em;
    color:darkblue;
    border: solid red;
}
@media screen and (max-width:768px) {
    body{
    background-color: rgba(0, 0, 255, 0.642);
    flex-direction: column;
    }
    
}
  