
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgb(169, 169, 169);
    color: rgba(127, 255, 212, 0.568);
  }
aside,h2{
    border: 2em;
    padding: 3em;
    display: flex;
    justify-content: right;
    display: flex;
    align-items: flex-end;
}
img{
    display: flex;
    align-items: flex-start;
}
nav{
    position: absolute;
    right:0;
}
nav li{
    display: inline-block;
    font-size: 20px
    text-align:center;
}
nav a {
    color:rgba(127, 255, 212, 0.568);
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color:red;
  }
.personal-information{
    border: 1em;
    padding: 2em;
    color:rgb(0, 0, 139);
}
.work-information{
    border-box:200px;
    padding: 2em;
    color: darkblue;
}
.contact-information{
    border-box: 200px;
    padding: 2em;
    color:darkblue;
}
@media screen and (max-width:768px) {
    body{
    background-color: blue;
    }
}